* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/universe.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: 17px;
}

.confirmRegisterTitle {
  padding: 25px;  
  background-color: #200F21;

  font-size: 70px;
  color: #E351CF;  
  font-family: 'Quicksand', sans-serif;

  border-radius: 9px;  
}

.redirectButtons {
  margin-top: 15px;
  width: 30%;

  display: flex;
  justify-content: space-around;
}

.backToRegisterButton {
  padding: 5px 10px 5px 10px;

  background-color: #200F21;
  border-radius: 3px; 

  text-decoration:none;
  color: #CA9BD6;  
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;

  transition: background-color 0.2s;
}

.backToRegisterButton:hover{
  background: #432D44;
}

.allClientsRedirectButton {
  padding: 5px 10px 5px 10px;

  background-color: #200F21;  
  border-radius: 3px; 

  text-decoration:none;
  color: #CA9BD6;  
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;

  transition: background-color 0.2s;
}

.allClientsRedirectButton:hover {
  background: #432D44;
}