<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Quicksand:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <title>Cadastro de Usuário</title>
  </head>
  <body >
    <div class="container">
      <div class="registerCard">
        <h1 class="registerTitle">Cadastro de Usuário</h1>
        
        <form action="login.php" method="POST">
          <div class="inputStyle">
            <label for="nameInput">Nome:</label>
            <input type="text" id="nameInput" name="name" placeholder="Insira seu nome">
          </div>

          <div class="inputStyle">
            <label id="emailLabel" for="emailInput">E-mail:</label>
            <input type="text" id="emailInput" name="email" placeholder="Insira seu e-mail">
          </div>

          <div class="inputStyle">
            <label for="cpfInput">CPF:</label>
            <input type="text" id="cpfInput" value="" name="cpf" placeholder="Insira seu CPF" maxlength="14">
          </div>
          
          <div class="inputStyle">
            <label id="ageLabel" for="ageInput">Idade:</label>
            <input type="text" id="ageInput" name="age" placeholder="Insira sua idade" maxlength="10">
          </div>

          <div class="buttonGroup">
            <button type="reset">Cancelar</button>
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>  
    </div>
  </body>
  <script>
    const cpf = document.querySelector("#cpfInput");
    cpf.addEventListener("keyup", () => {
    let value = cpf.value.replace(/[^0-9]/g, "").replace(/^([\d]{3})([\d]{3})?([\d]{3})?([\d]{2})?/, "$1.$2.$3-$4");
    cpf.value = value;
    });
  </script>
</html>
